@model HSMmain.Models.CommonModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/Login.css" rel="stylesheet" />

</head>
<body>

    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        <div class="sidenav">
            <div class="login-main-text">
                <h2>Application<br> Login Page</h2>
                <p>Login or register from here to access.</p>
            </div>
        </div>
        <div class="main">
            <div class="col-md-6 col-sm-12">
                <div class="login-form">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                @*<input type="text" class="form-control" name="username" value="@Model.Username=>"  placeholder="Username">*@
                            

                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control",placeholder = "Username" })

                                
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                @*<input type="text" class="form-control" name="username" value="@Model.Password" placeholder="Password">*@
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control" , placeholder = "Password" } )
                            </div>
                        </div>
                        <button type="submit" class="btn btn-black" value="Login">Login</button>
                        
                    </form>
                </div>
            </div>
        </div>
    }  
</body>
</html>
