<div class="customClass rounded">
    <div class="customPageClass">
        <div class="PageHeader">
            <h3>Contry-State-City Master</h3>
        </div>
        <div class="PageBodyClass">
          <mat-tab-group class="mat-background-primary">
              <mat-tab label="Country Master"> 
                  <div class="row">
                      <div class="col-md-9">

                      </div>
                      <div class="col-md-3">
                          <button mat-raised-button color="primary">
                              <ng-template  [ngIf]="CV.ShowMatTable" [ngIfElse]="ShowBackButton">
                                 Add New Country
                              </ng-template>
                              <ng-template #ShowBackButton>
                                  <div>Loading...</div>
                              </ng-template>
                          </button>
                      </div>
                  </div>                                   
                 <div *ngIf="CV.ShowMatTable">
                     <div *ngIf="dtCountryMaster.data.length > 0">
                         <mat-table #table [dataSource]="dtCountryMaster">
                             <ng-container matColumnDef="CountryCode">
                                 <mat-header-cell *matHeaderCellDef>Country Code</mat-header-cell>
                                 <mat-cell *matCellDef="let element">{{element.CountryCode}}</mat-cell>
                             </ng-container>
                             <ng-container matColumnDef="Country">
                                 <mat-header-cell *matHeaderCellDef>Country</mat-header-cell>
                                 <mat-cell *matCellDef="let element">{{element.Country}}</mat-cell>
                             </ng-container>
                             <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
                             <mat-row *matRowDef="let row; columns:displayColumns;"></mat-row>
                         </mat-table>
                     </div>
                 </div>
              </mat-tab>
              <mat-tab label="State Master">
                  <div>Country Master</div> 
              </mat-tab>
              <mat-tab label="City Master">
                  <div>Country Master</div> 
              </mat-tab>
          </mat-tab-group>
        </div>
    </div>
</div>