<div class="customClass rounded">
    <div class="customPageClass">
        <div class="PageHeader">
            <h3>Contry Master</h3>
        </div>
        <div class="PageBodyClass">
            <mat-card>
                <mat-card-content>
                    This is country Maste
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>

                </mat-card-actions>
                <mat-card-footer>
                    This is footer
                </mat-card-footer>
            </mat-card>
        </div>

        
    </div>
</div>